<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Back"></ion-back-button>
        </ion-buttons>

        <h1 style="text-align: center; align-items: center">{{ CatName }}</h1>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-card-content>
        <ion-list>
            <ion-item *ngFor="let it of itemCat" (click)="clickdetail(it.id, CatName)">
                <ion-thumbnail slot="end" *ngIf="it.isWithImage">
                    <img alt="new Item " src="{{ it.originalImage }} " />
                </ion-thumbnail>
                <ion-label>
                    <h1>{{ it.name }}</h1>
                    <h2 class="ion-padding">{{ it.originalSection }}</h2>
                    <ion-button expand="inset" shape="round">
                        EGP {{ it.price }}
                    </ion-button>
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-content>
